@import 'bootstrap';
@import "font-awesome";
@import 'style';
@import 'hotels';
@import 'main';
@import 'room';
@import 'reservations';
@import "react-image-gallery/styles/scss/image-gallery.scss";
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-daterangepicker/daterangepicker.css';
@import 'react-big-calendar/lib/css/react-big-calendar.css';
@import 'react-notifications/lib/notifications.css';