.reservations {
  .green {
    color: green;
  }
  .red {
    color: red;
  }
  .yellow {
    color: #c1911c;
  }
}
.reservation-form {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination a {
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.pagination .active a {
  background: white;
}
.reservation-list {
  .top-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.reservation-btn {
  margin-top: 20px;
  background: #818892;
}
.reservation-form-top {
  margin-top: 20px;
}
.calendar-top {
  display: flex;
  align-items: center;
  select {
    margin-right: 20px;
  }
}
