.reservations {
  .green {
    background: #4fc74f42;
    h4 {
      color: green;
    }
  }
  .red {
    background: #8b00001f;
    h4 {
      color: red;
    }
  }
  .yellow {
    background: #e4c27c5c;
    h4 {
      color: #c1911c;
    }
  }
  .btn {
    margin-right: 15px;
  }
}
.reservation-form {
  padding: 20px;
  border-top: 1px solid lightgrey;
}
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination a {
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.pagination .active a {
  background: white;
}
.reservation-btn {
  margin-top: 20px;
}
.reservation-form-top {
  margin-top: 20px;
}
.calendar-top {
  display: flex;
  align-items: center;
  select {
    margin-right: 20px;
  }
}
.page-wraper .table {
  thead th {
    color: #4a4a4a;
  }
  .fa-check, .green {
    color: darkgreen;
  }
  .fa-times, .red {
    color: darkred;
  }
  i {
    color: #1e84d7;
    margin-right: 15px;
  }
}
.DateRangePicker {
  width: 100%;
  border-radius: 4px;
  text-align: center;
  .DateRangePickerInput {
    width: 100%;
    border-radius: 4px;
    .DateInput {
      width: 47%;
      border-radius: 4px;
      .DateInput_input {
        border-radius: 4px;
        text-align: center;
      }
    }
  }
}
