.reservations {
  .green {
    background: #4fc74f42;
    h4 {
      color: green;
    }
  }
  .red {
    background: #8b00001f;
    h4 {
      color: red;
    }
  }
  .yellow {
    background: #e4c27c5c;
    h4 {
      color: #c1911c;
    }
  }
}
.reservation-form {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination a {
  border: 1px solid #ddd;
  padding: 10px 20px;
}
.pagination .active a {
  background: white;
}
.reservation-btn {
  margin-top: 20px;
  background: #818892;
}
.reservation-form-top {
  margin-top: 20px;
}
.calendar-top {
  display: flex;
  align-items: center;
  select {
    margin-right: 20px;
  }
}
