html,
body {
    background-color: #f5f6f7;
    font-size: 15px;
    color: #363636;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
/*==========================================
PRE LOADER
==========================================*/

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #f56363;
}
h1,
h2,
h3 {
    font-family: 'Lane', sans-serif;
    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family: 'roboto', sans-serif;
}
.text {
    color: #333333;
}
.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
footer {
  margin-bottom: 20px;
}
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #464646;

}
.btn {
    margin-right: 15px;
}
.btn-default:active, .btn-default:hover  {
    background: transparent;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 30px;
    font-size: 1.8rem;

}
.btn-md,
btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;

}

.btn-primary {
    color: #ffffff;
}
.btn-primary:active,
.btn-primary:hover {
    background: #ffffff;
}

.btn-default:before,
.btn-default:after {
    background-color: #ffffff;
}
.btn-default:focus {
    background-color: #ffffff;
    border-color: transparent;
}
.btn-default:hover {
    border-color: #ffffff;
    color: #f56363;
    background-color: #ffffff;
}
.btn-primary {
    background-color: #464646;
    color: #ffffff;
    border:0;
    padding:10px 20px;
    margin-top: 15px;
}
.btn-primary span i{
    padding-left:7px;
}
.btn-primary:before,
.btn-primary:after {
    background-color: #ffffff;
}
.btn-primary:focus {
    background-color: #f56363;
    border-color: transparent;
}
.btn-primary:hover {
    color: #f56363;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

.navbar-default {
    background-color:transparent;
    border:transparent;
    padding-top: 70px;
}

.navbar {
  background: #e7e7e7e7;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default .navbar-nav>.active a{
    background-color:transparent;
}
.navbar-default .navbar-nav>.active a:hover{
    background-color:transparent;
    color:#fff;
}
.navbar-default .navbar-nav>li>a {
    color:#464646;
    font-size:14px;
    text-transform:uppercase;
    font-weight:600;
}
.navbar-default .navbar-nav>li>a:hover {
    color:#fff;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#007bff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    .round-image-30 {
      display: none;
    }
  }
  .nav-item {
    border-bottom: solid 1px #81889233;
  }
  .filters {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.fb_iframe_widget {
  display: inline-block;
  position: absolute !important;
  padding: 0 20px ;
}