<div class="container page-wraper">
  <h3 class="text-center mb-5">Ціни та замовлення скіпасів 2019/2020</h3>
  <div class="row">
    <div class="col-lg-6 text-center mb-3">
      <h6>ВЛ1000 та Допельмайр / мультіліфт від ГК "Драгобрат"</h6>
      <img src="https://wiki.snig.info/images/e/ed/Gk_dragobrat19.png" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>"Вершина Карпат" (крісло / бугель / мультіліфт)</h6>
      <img src="https://wiki.snig.info/images/thumb/4/4f/%D0%92%D0%B5%D1%80%D1%88%D0%B8%D0%BD%D0%B0_%D0%BA%D0%B0%D1%80%D0%BF%D0%B0%D1%82_-_%D1%86%D0%B5%D0%BD%D0%B0_%D1%81%D0%BA%D0%B8%D0%BF%D0%B0%D1%81%D0%BE%D0%B2.jpeg/1600px-%D0%92%D0%B5%D1%80%D1%88%D0%B8%D0%BD%D0%B0_%D0%BA%D0%B0%D1%80%D0%BF%D0%B0%D1%82_-_%D1%86%D0%B5%D0%BD%D0%B0_%D1%81%D0%BA%D0%B8%D0%BF%D0%B0%D1%81%D0%BE%D0%B2.jpeg" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>Крісло "Карпатська Чайка" / Бугель на Жандарм</h6>
      <img src="https://wiki.snig.info/images/thumb/1/1a/Chaika19.jpg/1600px-Chaika19.jpg" />
    </div>
    <div class="col-lg-6 text-center mb-3">
      <h6>СТК "ОАЗА" (бугель / multilift)</h6>
      <img src="https://wiki.snig.info/images/c/cd/Oaza19.jpg" />
    </div>
  </div>
  <hr/>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeunvzKLLQQ2mtBOCcZpZP2yBMRKHF-zg9XTpOWfsmdYyhflg/viewform?embedded=true" width="100%" height="1600px;" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
</div>